body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.container {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}

.Card {
  position: relative;
  display: flex;
  flex-direction: column;
  /* flex: 1; */
  flex-wrap: wrap;
  border: 5px dotted black;
  border-radius: 20px;
  width: 200px;
  height: 280px;
  padding: 20px;
  background-color: lightyellow;
}

.Remove {
  position: absolute;
  top: 8px;
  right: 8px;
  background: #cb0818;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: bold;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  cursor: pointer;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.NEW {
  /* background-color:rgb(13, 187, 7);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin: 20px;
    width: fit-content;
    align-self: center;
 */
  background: #2dd653;
  color: white;
  border: none;
  padding: 18px 36px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 20px;
  margin: 20px;
}

h1 {
  color: #4285f4;
  font-size: 56px;
  margin-bottom: 40px;
  font-weight: bold;
}

/* Toggle button proper size */
.switch {
    position: relative;
    display: inline-block;
    width: 36px;   /* width thoda bada */
    height: 20px;  /* height thoda bada */
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #dc3545;  /* red when off */
    transition: 0.4s;
    border-radius: 20px;        /* rounded edges */
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #28a745; /* green when on */
}

input:checked + .slider:before {
    transform: translateX(16px); /* slide right */
}
